.App {
    text-align: center;
  }

body {
    background-color: #FFD700;
}

ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #ffffff;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 25px;
    padding-bottom: 50px;
    box-shadow: 10px 10px #a0a0a0; 
}

label {
    margin-right: 2%;
}

.Editbtn {
    background-color: rgb(230, 230, 255);
}